.logo-bw img {
    width:80vw;
    margin-bottom: 20px;
    max-width: 400px;
}

.navbar {
    top: 0px;
    min-height: 80px;
    position: fixed;
}

.navbar-custom {
    background-color: #132a44;
}
.navbar-brand {
    padding: 15px, 5px;
    height: 80px;
    line-height: 80px;
}
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

.navbar-brand img {
    margin-top: -8px;
    width:70vw;
    max-width: 300px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.menulink{
    color: rgba(255,255,255,1);
    font-size: 20px;
}
/* change the color of active or hovered links */
.menulink:hover {
    color: #f89011;
    font-size: 20px;
    text-decoration: none;
}

.menulink-active {
    color: #f89011;
    font-size: 20px;
    text-decoration: none;
}

.hamburger {
    font-size:36px;
}
.nav-item {
    color: white;
}

@media screen and (max-width: 991px) {
    .navbar-nav li .menulink {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-bottom: 40.5px;
        line-height: 40px;
      }
    
      .menuseperator {
          display: none;
      }
  }