.createPost {
    padding-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-control {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #132a44;
    color: white;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #132a44;
    color: white;
}